*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 260px;
    width: 260%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
  cursor: pointer;
  background-color: #081b31;
}

img{
    height: 250px;
    width: 250%;
    object-fit: cover;
    border-radius: 40%
    
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 2rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:4rem;
}

#user-score-,#comp-score{
    font-size: 4rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
}